    <h2> Colors</h2>
    <p> Voila your purple colors</p>

          <% mycolors.forEach((oneColor)=>{ %>
          <%  if (oneColor.category=="purple"){ %>
            <div class="square-holder">
              <div class="square"  style="background-color:<%= oneColor.hex %>;">
                <!-- <div class="foo blue">
                </div> -->
              </div>
                <div class="my-text">
                  <ul><%= oneColor.keyword %></ul>
                  <ul><%= oneColor.hex %>
                  <%= oneColor.category %></ul>
              </div>
          </div>
        <% } %>

        <% }) %>
